Package: wkhtmltopdf-webkit
Version: 0.13.0-ubuntu24.04
Section: utils
Priority: optional
Architecture: arm64
Maintainer: wkhtmltopdf Team <support@wkhtmltopdf.org>
Homepage: https://wkhtmltopdf.org
Depends: libqt5core5a, libqt5gui5, libqt5network5, libqt5svg5, libqt5xmlpatterns5, libqt5webkit5, libssl3 | libssl1.1, libfontconfig1, libfreetype6, libx11-6, libxrender1, libxext6, libc6
Recommends: libqt5webkit5-dev
Conflicts: wkhtmltopdf-webengine, wkhtmltopdf, wkhtmltopdf-qt6
Provides: wkhtmltopdf
Description: HTML to PDF converter with Qt5 WebKit (v0.13.0)
 wkhtmltopdf with lightweight WebKit backend (~40MB).
Installed-Size: 1192
